@model Safari.Entities.Categoria

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Content/css/sb-admin-2.css" rel="stylesheet" />
<div>
    <h3>¿Esta seguro que quiere eliminar la Categoria  @Html.DisplayFor(model => model.LaCategoria)? </h3>
    <hr />

        

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="button" class="AzulButton " style="float:right" value="Volver" onclick="location.href='@Url.Action("Index", "Categoria")'" />
    <input type="submit" value="Eliminar" class="AzulButton" />
</div>
    }
</div>
